
* {
  box-sizing: border-box;
}

.header-container{
  grid-area: top;
  background-color: #120323;
  color: white;
}

main{
  display: flex;
  grid-area: left;
}

#container{
  grid-area: right;
  img{
  border: 5px solid #d9043d; }
  h2{
  color: #120323; }
}

aside{
  grid-area: left;
  background-color: #97bf04;
}

footer{
  grid-area: bottom;
  background-color: #d9043d;
}

@media screen and (min-width: 1000px){
  .header-container{
    display: flex;
    gap: 1rem;
  }

  div#container{
    display: flex;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto 1fr auto;
    margin-right: 10px;
    padding-bottom: 16px;
  }

  aside{
    display: flex;
    margin-top: 16px;
  }
}

@media screen and (max-width: 999px){
  .header-container{
    display: flex;
    gap: 1rem;
  }

  div#container{
    display: flex;
    flex-direction: column;
    grid-template-areas:
    "top top"
   "left right"
   "bottom bottom";
   grid-template-columns: 1fr 1fr;
   grid-template-rows: auto 1fr auto;
   padding-bottom: 5px;
  }

  img{
    display: flex;
    float: left;
    max-width: 300px;
    height: auto;
    margin-right: 5px;
  }
} 

@media screen and (max-width: 767px){
  .header-container{
    display: flex;
    flex-direction: row;
    grid-template-rows: auto 1fr auto;
    gap: 1rem;
  }

  div#container{
    grid-template-areas: 
    "top"
    "right"
    "left"
    "bottom";
    grid-template-columns: 1fr;
    padding-bottom: 5px;

    img{
      display: flex;
      max-width: 767px;
      width: 100%;
      height: auto;
      place-items: center;
      margin-bottom: 5px;
    }
  }
}